.calc {
  color: $color-mint_light;
  background-color: $color-brown;

  &__container {
    padding: 50px 20px 50px;
    background-image: url(../images/calculator.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__title {
    padding: 5px 0;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
    background-color: $color-brown;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: $color-brown;
    opacity: 0.9;

    &--result {
      grid-column: span 2;

      &:hover {
        .calc__result {
          background-color: $color-mint;

          &-sum {
            &--number {
              display: none;
            }

            &--text {
              display: block;
              color: $color-brown;
            }
          }
        }
      }
    }

    &-title {
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.5rem;
      text-decoration: underline;
    }
  }

  &__params {
    flex-direction: column;

    &-title {
      margin: 0;
      margin-bottom: 10px;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }
  }

  &__services {
    font-size: 1.5rem;

    &-item {
      font-weight: 600;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__result {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: $color-mint;
    border: 2px solid $color-mint;
    border-radius: 15px;
    background-color: $color-brown;

    &:not([href]) {
      cursor: not-allowed;

      &:hover {
        opacity: 1;
      }
    }

    &-sum {
      &--text {
        display: none;
      }
    }
  }

  .noUi {
    &-tooltip {
      padding: 2px 5px;
    }

    &-connect {
      background: $color-mint;
    }

    &-value-horizontal {
      transform: translate(-50%, 90%);
    }

    &-handle {
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@media (max-width: 768px) {
  .calc {
    &__container {
      padding: 0;
    }

    &__title {
      margin: 0;
      border-radius: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &__block {
      border-radius: 0;
    }

    &__params {
      &-item {
        &:not(:last-child) {
          margin-bottom: 70px;
        }
      }
    }
  }
}
