.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  font-size: 1.25rem;
  background-color: $color-mint;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  &__logo {
    max-height: 80px;
    max-width: 150px;
    margin-right: 10px;

    svg {
      margin-right: 10px;
      max-height: 80px;
    }
  }

  .nav {
    margin-right: 10px;
    width: 55%;
    font-weight: 600;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(50% - 10px);
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 10px;
      }
    }

    .btn {
      border-bottom: 1px solid transparent;

      &--active {
        color: $color-brown;
        border-bottom: 1px solid $color-black;
      }
    }
  }

  .phone {
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    background-color: $color-brown;
    color: $color-mint;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 1.5rem;

    .nav {
      width: 60%;
    }
  }
}
