// базовые подключения
@import "variables";
@import "mixins";
@import "fonts";
@import "settings";
@import "effects";

@import "./components/header";
@import "./components/about";
@import "./components/calculator";
@import "./components/gallery";
@import "./components/feedback";
@import "./components/footer";
@import "./components/modals";

section {
  position: relative;

  .scroll-block {
    content: "";
    position: absolute;
    top: -99px;
  }
}
