// базовые подключения
@import "variables";
@import "mixins";
@import "fonts";
@import "settings";
@import "effects";

.overflow-hidden {
  overflow: hidden;
}

section {
  position: relative;
  .scroll-block {
    content: "";
    position: absolute;
    top: -99px;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  font-size: 1.25rem;
  background-color: $color-mint;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  &__logo {
    max-height: 80px;
    max-width: 150px;
    margin-right: 10px;

    svg {
      margin-right: 10px;
      max-height: 80px;
    }
  }
}

.nav {
  margin-right: 10px;
  width: 55%;
  font-weight: 600;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(50% - 10px);
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 10px;
    }
  }
}

.phone {
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  background-color: $color-brown;
  color: $color-mint;
}

.about {
  padding-top: 100px;
  background-color: $color-mint_light;

  &__container {
    padding: 0px 15px 50px;
  }

  &__title {
    padding: 20px 15px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $color-brown;
  }

  &__img {
    width: calc(50% - 10px);
  }

  &__text {
    display: inline-block;
    padding: 10px;
    width: calc(50% - 10px);
    vertical-align: top;
  }
}

.calc {
  color: $color-mint_light;
  background-color: $color-brown;

  &__container {
    padding: 50px 20px 50px;
    background-image: url(/images/calculator.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__title {
    padding: 5px 0;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
    background-color: $color-brown;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: $color-brown;
    opacity: 0.9;

    &--result {
      grid-column: span 2;

      &:hover {
        .calc__result {
          background-color: $color-mint;
          &-sum {
            &--number {
              display: none;
            }

            &--text {
              display: block;
              color: $color-brown;
            }
          }
        }
      }
    }

    &-title {
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.5rem;
      text-decoration: underline;
    }
  }

  &__params {
    flex-direction: column;
    &-title {
      margin: 0;
      margin-bottom: 10px;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }
  }

  &__services {
    font-size: 1.5rem;

    &-item {
      font-weight: 600;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__result {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: $color-mint;
    border: 2px solid $color-mint;
    border-radius: 15px;
    background-color: $color-brown;

    &-sum {
      &--text {
        display: none;
      }
    }
  }

  .noUi-handle {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

.gallery {
  background-color: $color-mint;

  &__container {
    padding: 20px 15px 20px;
    border-bottom: 1px solid $color-brown;
  }

  &__item {
    padding: 25px 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:nth-child(2n) {
      background-color: $color-mint_light;
      .gallery__content {
        flex-direction: row-reverse;
      }
    }

    &:nth-child(2n + 1) {
      background-color: $color-mint;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // inset: 0;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.7);
    transition: all 0.3s ease-in-out;

    &::before {
      content: "X";
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 999;
      font-size: 40px;
      font-weight: 600;
      color: $color-white;
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    z-index: 0;

    &--swiper {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 1;
      display: block;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      max-width: 100%;
      width: 90vw;
      transform: translate(-50%, -50%);

      .gallery {
        &__images {
          display: flex;
          width: 100%;

          &-item {
            width: 100%;
          }

          &-img {
            height: 100% !important;
            width: 100%;
          }
        }

        &__descr {
          display: none;
        }
      }
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 125px;
    width: calc(50% - 10px);
    grid-gap: 5px;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    // width: calc(50% - 10px);
    // grid-gap: 5px;

    &-item {
      max-height: max-content;
      &:first-child {
        grid-column: span 2;
        grid-row: span 2;

        .gallery__images-img {
          height: 255px;
        }
      }

      &:not(:first-child) {
        .gallery__images-img {
          height: 125px;
        }
      }
    }

    &-link {
      display: block;
      // height: 100%;
      font-size: 0;
    }

    // &-img {
    //   height: 100%;
    //   height: auto;
    //   object-fit: none;
    // }
  }

  &__descr {
    width: calc(50% - 10px);

    &-title {
      margin: 0;
      margin-bottom: 20px;
    }

    &-item {
      margin-bottom: 10px;
    }
  }
}

.feedback {
  padding-bottom: 50px;
  background-color: $color-mint_light;

  &__title {
    padding: 20px 15px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $color-brown;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    span {
      display: inline-block;
      margin-right: 10px;
      width: 150px;
    }

    input {
      padding: 10px;
      height: 40px;
      width: 40%;
      border: 1px solid transparent;
      border-radius: 5px;
      background-color: $color-mint;
    }

    textarea {
      padding: 10px;
      width: 40%;
      border: 1px solid transparent;
      border-radius: 5px;
      background-color: $color-mint;
    }
  }

  &__btn {
    padding: 10px;
    max-width: max-content;
    border: 1px solid transparent;
    border-radius: 5px;
    color: $color-mint_light;
    background-color: $color-brown;
  }
}

.footer {
  font-size: 1.25rem;
  color: $color-mint_light;
  background-color: $color-brown;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  &__logo {
    max-width: 150px;
    margin-right: 10px;

    svg {
      max-height: 80px;
    }
  }
}

.noUi {
  &-tooltip {
    padding: 2px 5px;
  }

  &-connect {
    background: $color-mint;
  }

  &-value-horizontal {
    transform: translate(-50%, 90%);
  }
}

.btn {
  border-bottom: 1px solid transparent;

  &--active {
    color: $color-brown;
    border-bottom: 1px solid $color-black;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 1.5rem;
  }

  .nav {
    width: 60%;
  }

  .about {
    &__img {
      width: auto;
    }

    &__text {
      width: auto;
    }
  }

  .calc {
    &__container {
      padding: 0;
    }

    &__title {
      margin: 0;
      border-radius: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &__block {
      border-radius: 0;
    }

    &__params {
      &-item {
        &:not(:last-child) {
          margin-bottom: 70px;
        }
      }
    }
  }

  .gallery {
    &__item {
      .gallery__content {
        display: flex;
        flex-direction: column;
      }

      &:nth-child(2n) {
        .gallery__content {
          flex-direction: column;
        }
      }
    }

    &__images {
      margin-bottom: 20px;
      width: auto;
    }

    &__descr {
      width: auto;
    }
  }

  .form {
    &__label {
      span {
        width: 200px;
      }

      input {
        width: 60%;
      }

      textarea {
        width: 60%;
      }
    }
  }

  .footer {
    font-size: 1.5rem;
  }
}
